<html>
<head>
  <title>The ALL man brothers</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="<%- root %>stylesheets/main.css">
</head>

<body>
  <div id="outlet"><div><%- outlet %></div></div>
  

</body>
</html>

