@charset "utf-8";
@import "./reset.scss";
@import './constants';
@import url('https://fonts.googleapis.com/css?family=Raleway:400+600|Ultra');

html {
  font-size: 16px;
    
  @media screen and (min-width: 900px) {
    font-size: 18px;
  }
    
  @media screen and (min-width: 1200px) {
    font-size: 20px;
  }
}

body {
  font-family: 'Raleway';
  color: $c5;
  background-color: $c2;
  min-width: 500px;
}

h1, h2, h3 {
  font-family: 'Ultra';
}

.container {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.cap {
  text-transform: uppercase;
  color: $c2;
}

.pill {
  color: $c1;
  background-color: $c5;
  padding: 5px 10px 5px 10px;
  border-radius: 20px;
  margin: 0 10px 0 10px;

  a {
    color: $c4;
    text-decoration: none;
  }

}

#header {
  width: 100%;
  
  min-height: 700px;

  background-image: url('./img/header-bg-big.jpg');
  background-size: cover;

  font-family: 'Ultra';

  padding: 20px 0;

  .title {
    width: 100%;
    

    @media screen and (min-width: 750px) {
      top: 5%;
      position: absolute;
    }

    @media screen and (min-width: 1450px) {
      top: 10%;
    }

    background-color: rgba($c3, 0.60);
    border-top: 20px solid $c4;
    border-bottom: 20px solid $c4;

    box-shadow: 0 20px 10px rgba(black, 0.5);


    padding: 25px 0;

    header {
      color: $c1;

      h1 {
        font-size: 3.5em;
        text-align: center;

        -webkit-text-stroke: 2px $c5;

        text-shadow:
          -3px -3px 0 rgba($c2, 0.9),  
          -6px -6px 0 rgba($c3, 0.9),
          -9px -9px 0 rgba($c4, 0.9),
          -12px -12px 0 rgba($c5, 0.9),
          -15px -15px 0 rgba($c1, 0.9);
        }
      
      .subHead {
        font-size:2em;
        text-transform: uppercase;
        text-align: center;
        -webkit-text-stroke: 2px $c5;
        
        margin-top: -15px;
        
        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;

        &:before, &:after {
          content: "";
          padding-top: 1px;
          flex-grow: 1;
          border-top: 2px double $c1;
          border-bottom: 2px double $c1;
          margin: 0 10px; 
        }
      }

      .members {
        font-family: ultra;
        text-transform: uppercase;
        font-size: 2em;
        flex-wrap: wrap;

        display: flex;
        flex-direction: row; 
        justify-content: center;
        align-items: center;
      }
    }
  }
}



#content {
  width: 100%;
  border: 25px solid $c2;
  border-radius: 25px;
  background-color: $c2;

  @media screen and (max-width: 975px) {
    border: 15px solid $c2;
  }

  #content-border1 {
    border: 40px solid $c3;
    border-radius: 25px;
    background-color: $c3;

    @media screen and (max-width: 975px) {
      border: 20px solid $c3;
    }
    
    #content-border2 {
      border: 60px solid $c4;
      border-radius: 50px;
      background-color: $c4;

      @media screen and (max-width: 975px) {
        border: 30px solid $c4;
      }
        
      .inner-content {
        background-color: $c1;
        border: 25px solid $c1;
        border-radius: 25px;
      }
    }
  }
}

section {
  padding-bottom: 40px;
  font-size: 1rem;

  @media screen and (max-width: 975px) {
    font-size: 0.75rem;
  }

  @media screen and (max-width: 750px) {
    font-size: 0.65rem;
  }

  header{
    text-align: center;

    padding-bottom: 20px;

    h2 {
      font-size: 3em;
    }
  }
}

#tagline {

  margin-left: auto;
  margin-right: auto;
  header {
    width:100%;
    background-color: $c5;
    padding: 20px 20px 20px 20px;
    border-radius: 100px;

  }

  h2 {
    line-height: 1em;
    color: $c4;
    font-size: 4em;
    -webkit-text-stroke: 3px $c5;
    text-shadow: 6px 6px rgba(black, 0.5);



  }
}

.media-list {
  font-size: 4em;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;


  & > * {
    margin: 10px;
    a {
      display: inline-block;

      text-align: center;

      color: $c3;
      background-color: $c2;
      
      border: $c3 solid 5px;
      border-radius: 15px;

      height: 110px;
      width: 110px;
      padding: 12px 0;

      @media screen and (max-width: 975px) {
        height: 80px;
        width: 80px;
        padding: 7px 0 7px 0;
      }

      @media screen and (max-width: 750px) {
        height: 70px;
        width: 70px;
        padding: 7px 0;
      }
      
      &:hover {
        color: $c4;
        border: $c4 solid 5px;
      }
    }
  }
}

#upcoming {
  ul{
    font-size: 1.5em;
    li{
      margin-bottom: 20px;
      border-bottom: 1px solid rgba($c5, 0.75);

      .info {
        margin-bottom: 5px;
        display: flex;
        justify-content: space-between;

        & > :last-child{
          flex-grow: 1;

          display: flex;
          flex-direction: row; 
          justify-content: center;
          align-items: center;
   
          &:before {
            content: "";
            flex-grow: 1;
            border-bottom: 1px dashed $c5; 
            margin: 0 10px 0 10px;
          }        
        }

        .date {
          font-weight: 800;
        }
      }

      .desc {
        font-size: 1em;
        padding: 5px 20px 10px 20px;
      }
    }
  }
}


